@import 'bootstrap-select';
@import 'datatable';

.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.font-style-normal {
    font-style: normal !important;
}

.resize-none {
    resize: none;
}

.resize-x {
    resize: horizontal;
}

.resize-y {
    resize: vertical;
}

.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help; }

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

.sidebar {
    width: 20rem !important;

    & .sidebar-brand {
        padding: unset;
        text-transform: unset;
    }

    & .nav-item .nav-link {
        width: 100% !important;
        padding: .75rem 1rem;
    }
}

.dropdown-list-image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#confirm-modal #accept:hover {
    background-color: $danger;
    border-color: $danger;
}

.form-control.form-check {
    border-color: transparent;
}