@import 'bootstrap-select';
@import 'datatable';

body {
    min-height: 100vh;
}

#wrapper {
    min-height: 100vh;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.font-style-normal {
    font-style: normal !important;
}

.resize-none {
    resize: none;
}

.resize-x {
    resize: horizontal;
}

.resize-y {
    resize: vertical;
}

.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help; }

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

.sidebar {
    width: 20rem !important;

    & .sidebar-brand {
        padding: unset;
        text-transform: unset;
    }

    & .nav-item .nav-link {
        width: 100% !important;
        padding: .75rem 1rem;
    }
}

.dropdown-list-image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#confirm-modal #accept:hover {
    background-color: $danger;
    border-color: $danger;
}

.form-control.form-check {
    border-color: transparent;
    background-color: transparent;
}

.tox.tox-tinymce {
    width: 100%;
}

.card.borderless {
    border: none;
    border-radius: unset;
}

.card.borderless > .card-header {
    border: none;
    margin-bottom: 0;
}

[data-toggle="collapse"] .state {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-style: normal;
}

[data-toggle="collapse"] .state:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .state:before {
    content: "\f13a";
}

label.align-top {
    align-self: flex-start;
    margin-top: 0.5rem;
}

.form-group:last-child {
    margin-bottom: unset;
}

[data-multiple] > .row:last-child > div,
[data-multiple] > .form-row:last-child > div {
    margin-bottom: 0 !important;
}
