.table-bordered thead {
    background-color: $light;

    & th,
    & td {
        border-bottom: none;
        border-top: none;
    }
}

.dataTables_wrapper .dropdown.bootstrap-select {
    width: 80px !important;
}
