.bg-login-image {
    background: url(../images/logo.png);
    // background: url("https://source.unsplash.com/480x360?security");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-register-image {
    background: url("https://source.unsplash.com/480x360?register");
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-password-image {
    background: url("https://source.unsplash.com/480x360?password");
    background-position: center center;
    background-repeat: no-repeat;
}
