.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.h-100px {
    height: 100px;
}

.h-150px {
    height: 150px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}

.mh-50px {
    max-height: 50px;
}

.mh-75px {
    max-height: 75px;
}

.mh-100px {
    max-height: 100px;
}

.mh-150px {
    max-height: 150px;
}

.mh-200px {
    max-height: 200px;
}

.mh-250px {
    max-height: 250px;
}

.mh-300px {
    max-height: 300px;
}

.fs-0-5x { font-size: 0.5em !important; }
.fs-0-75x { font-size: 0.75em !important; }
.fs-2x { font-size: 2em; }
.fs-3x { font-size: 3em; }
.fs-4x { font-size: 4em; }
.fs-5x { font-size: 5em; }