@each $color, $value in $theme-colors {
    .btn-hover-#{$color}:hover {
        @include button-variant($value, $value);
    }

    .btn-hover-outline-#{$color}:hover {
        @include button-outline-variant($value, $color, transparent);
    }
}

@each $color, $value in $grays {
    .border-gray-#{$color} {
        border-color: $value !important;
    }
}

.btn-default {
    @include button-variant($gray-500, $gray-500);
}

.btn-outline-default {
    @include button-outline-variant($gray-500, $gray-500);

    &:hover {
        color: $white;
    }
}

.btn-gray {
    @include button-variant($input-group-addon-bg, $input-border-color);
    color: $gray-700;
}

.btn-outline-gray {
    @include button-outline-variant($gray-400);
    color: $gray-700;
    background-color: $white;

    &:hover {
        background-color: $input-group-addon-bg;
    }
}
