@each $color, $value in $theme-colors {
    .btn-hover-#{$color}:hover {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $theme-colors {
    .btn-hover-outline-#{$color}:hover {
        @include button-outline-variant($value, $color, transparent);
    }
}

.btn-default {
    color: $white;
    border-color: $input-border-color;
    background-color: $input-border-color;
}

.btn-outline-default {
    border-color: $input-border-color;
    color: $input-border-color;
}
