/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 100%;
    float:right;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-500;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(100% - 4px);
    width: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

input:checked + .slider {
    background-color: $dark;
}
input.primary:checked + .slider {
    background-color: $primary;
}
input.secondary:checked + .slider {
    background-color: $secondary;
}
input.success:checked + .slider {
    background-color: $success;
}
input.info:checked + .slider {
    background-color: $info;
}
input.warning:checked + .slider {
    background-color: $warning;
}
input.danger:checked + .slider {
    background-color: $danger;
}

input:focus + .slider {
    box-shadow: 0 0 1px $secondary;
}

input:indeterminate:not(:checked) + .slider {
    background-color: lighten(desaturate($dark, 40%), 30%) !important;
}
input:indeterminate:not(:checked).primary + .slider {
    background-color: lighten(desaturate($primary, 40%), 30%) !important;
}
input:indeterminate:not(:checked).secondary + .slider {
    background-color: lighten(desaturate($secondary, 40%), 30%) !important;
}
input:indeterminate:not(:checked).success + .slider {
    background-color: lighten(desaturate($success, 40%), 30%) !important;
}
input:indeterminate:not(:checked).info + .slider {
    background-color: lighten(desaturate($info, 40%), 20%) !important;
}
input:indeterminate:not(:checked).warning + .slider {
    background-color: lighten(desaturate($warning, 40%), 20%) !important;
}
input:indeterminate:not(:checked).danger + .slider {
    background-color: lighten(desaturate($danger, 40%), 20%) !important;
}

input:indeterminate:not(:checked) + .slider:before {
    -webkit-transform: translateX(calc(50% - 2px));
    -ms-transform: translateX(calc(50% - 2px));
    transform: translateX(calc(50% - 2px));
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(100% - 4px));
    -ms-transform: translateX(calc(100% - 4px));
    transform: translateX(calc(100% - 4px));
}
